@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none; /* For Firefox 64+ */
  -ms-overflow-style: none; /* For older versions of Edge */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.react-datepicker__input-container input {
  zoom: 1 !important;
}

.custom-datepicker .react-datepicker__month-container {
  width: 500px;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 0.3rem;
  background-color: #361da3;
  color: #fff;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
